/* $font-size: 20px;
$button-background-color: green;
$button-font-color: white;
$text-font-color: red; */

.hello-world-button {
  font-size: 20px;
  padding: 7px 15px;
  background: green;
  color: white;
  outline: none;
}

.hello-world-text {
  color: red;
  font-weight: bold;
}
