<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{{htmlWebpackPlugin.option.title}}</title>
  <meta name="description" content={{htmlWebpackPlugin.option.description}} />
</head>

<body>

</body>

</html>